@model WebApplication3.Models.Review
@{
    ViewBag.Title = "Index";
}
<div>
    <h2>Главная</h2>



    <div class="container">
        <nav>
            Welcome @HttpContext.Current.User.Identity.Name
            @using (Ajax.BeginForm("WordSearch", new AjaxOptions { UpdateTargetId = "results" }))
            {
                <input type="text" name="word" />
                <input type="submit" name="Поиск" class="btn btn-outline-light" value="Поиск" />
            }
            <div id="results"></div>
        </nav>
    </div>

    @helper CreateList(IEnumerable<SelectListItem> all)
    {
        <ul>
            @foreach (var s in all)
            {
                <li class="text-truncate">@s.Text</li>
            }
        </ul>
    }

    @{
        int lastNum = ViewBag.PagesCount - 10;
        var reviews = new SelectList(ViewBag.Reviews, "ReviewText", "ReviewText").Skip(lastNum).Take(10);
    }
    <div>        
        <h4>Последние отзывы</h4>
        @CreateList(reviews)
    </div>
</div>
@Scripts.Render("~/scripts/jquery-3.6.0.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")

<style>
    nav {
        display: flex;
        flex-direction: column;
    }
</style>