@model WebApplication3.Models.UserLogin

@{
    ViewBag.Title = "Login";
}
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-signin">
        <h2>Вход</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @if (ViewBag.Message == "")
        {
            <div class="text-danger">*@ViewBag.Message</div>
        }

        <div class="form-group">
            <div class="form-signin">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "pos border-warning form_color", @placeholder = "Email адресс" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "danger_color" })



            </div>
            <div class="form-signin">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "pos border-warning form_color", @placeholder = "Пароль" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "danger_color" })
            </div>




            <div class="col-md-10">
                @Html.LabelFor(model => model.RememberMe, htmlAttributes: new { @class = "child" })
                @Html.EditorFor(model => model.RememberMe)
                @Html.ValidationMessageFor(model => model.RememberMe, "")
            </div>




        </div>
        <div>
            <input type="submit" value="Войти" class="buttons btn btn-outline-warning border-warning" />
        </div>
    </div>
    }

    <div>
        @Html.ActionLink("Создать аккаунт", "Registration", "User")
    </div>
</div>
<style>
    .form-signin {
        width: 100%;
        max-width: 300px;
        padding: 15px;
        margin: auto;
        }
    .pos {
        width: 200px;
        position: center;
        padding-right: 15px;
        padding-left: 15px;
        border: 1px solid;
    }
    .child {
        height: 50px;
        float: right;
        width: 60%;
        position: center;
    }
    .buttons {
        width: 150px;
        height: 50px;
        text-decoration: none;
        padding-top: 9px;
        text-align: center;
        line-height: 20px;
        font: normal 17px arial;
        background:none;
        border: 1px solid;
    }
    .form_color {
        color: #ffd800;
        background-color:transparent;
        border: 2px solid;
    }
    .danger_color {
        color: #f91b1b
    }

    }
</style>

@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}