@model WebApplication3.Models.UserLogin

@{
    ViewBag.Title = "Login";
}
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-signin">
            <h2>Login</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @if (ViewBag.Message == "")
            {
                <div class="text-danger">*@ViewBag.Message</div>
            }

            <div class="form-group">
                @*@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="form-signin">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "pos", @placeholder = "Email адресс" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })



                </div>
                @*@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="form-signin">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "pos", @placeholder = "Пароль" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>




                <div class="col-md-10">
                    @Html.LabelFor(model => model.RememberMe, htmlAttributes: new { @class = "child" })
                    @Html.EditorFor(model => model.RememberMe)
                    @Html.ValidationMessageFor(model => model.RememberMe, "")
                </div>


                <div>
                    <input type="submit" value="Create" class="buttons" />
                </div>

            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Register Now", "Registration", "User")
    </div>
</div>
<style>
    .form-signin {
        width: 100%;
        max-width: 300px;
        padding: 15px;
        margin: auto;
        }
    .pos {
        width: 200px;
        position: center;
        padding-right: 15px;
        padding-left: 15px;
        border: 2px solid;
    }
    .child {
        height: 50px;
        float: right;
        width: 60%;
        position: center;
    }
    .buttons {
        width: 150px;
        height: 50px;
        text-decoration: none;
        padding-top: 9px;
        color: #241836;
        text-align: center;
        line-height: 20px;
        font: normal 17px arial;
        background: #002266;
        border: 1px solid;
    }

    }
</style>

@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}