@model WebApplication3.Models.User
@{
    ViewBag.Title = "Registration";
}
<div>
    
    @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
    {
        if (ViewBag.Message != null)
        {
            <div class="alert alert-success">
                <strong>Success!</strong>@ViewBag.Message
            </div>
        }
    }
    else
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-signin">
                <h2>Регистрация</h2>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-signin">
                    @*@Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "pos", @placeholder = "Имя пользователя" } })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    
                </div>
                <div class="form-signin">
                    @*@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "pos", @placeholder = "Email адресс" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        @Html.ValidationMessage("EmailExist", new { @class = "text-danger" })
                    
                </div>
                <div class="form-signin">
                    @*@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "pos", @placeholder = "Пароль" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    
                </div>
                
                    <div>
                        <input type="submit" value="Create" class="btn btn-outline-light buttons" />
                    </div>
                
            </div>
            if (ViewBag.Message != null)
            {
                <div class="alert alert-danger">
                    <strong>Error!</strong>@ViewBag.Message
                </div>
            }
        }
    }

    <div>
        @Html.ActionLink("Login", "Login")
    </div>
</div>

<style>
    .form-signin {
        width: 100%;
        max-width: 300px;
        padding: 15px;
        margin: auto;
    }

    .pos {
        width: 200px;
        position: center;
        padding-right: 15px;
        padding-left: 15px;
        background: #fff;
        border: 1px solid;
    }

    .child {
        height: 50px;
        float: right;
        width: 60%;
        position: center;
    }

    .buttons {
        width: 150px;
        height: 50px;
        text-decoration: none;
        padding-top: 9px;
        color: #fff;
        text-align: center;
        line-height: 20px;
        font: normal 17px arial;
        background: none;
        border: 1px solid;
    }
    }
</style>

@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}


