@model WebApplication3.Models.Review
@{
    ViewBag.Title = "GamesReviews";
}

@helper CreateTable(SelectList review, SelectList user) 
{
<table>
 
    <colgroup>
        <col t/>

    </colgroup>

        @foreach (var s in review)
        {
            <td>
                @s.Value
            </td>
            <td>
                @s.Text
            </td>

        }
        <td>
            @foreach (var d in user)
            {
                @d.Value
            }
        </td>
    </tr>


    
</table>
    
}






@{
    var reviewList = new SelectList(ViewBag.Users, "ReviewScore", "ReviewText");
    var Range = new SelectList(ViewBag.Users, "UserId", "ReviewText");
}

@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    if (ViewBag.Message != null)
    {
        <div class="alert alert-success">
            <strong>Success!</strong>{ 
                @foreach(var a in Range)
                    {
                        @a.Value
                    }
            }
            

        </div>
       @CreateTable(reviewList, Range)
    }
}

@using (Html.BeginForm())
{
    
    @Html.AntiForgeryToken()
<div>
    @Html.LabelFor(model => model.GameId, "Выбор игры", htmlAttributes: new { @class = "control-label col-md-2" })
    <div>
        @Html.DropDownListFor(model => model.GameId, new SelectList(ViewBag.Games, "GameId", "GameName"))
    </div>
    <input type="submit" , value="Показать отзывы">
</div>












}










@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}