@model WebApplication3.Models.Review
@{
    ViewBag.Title = "Review";
}
<div>
    <hr />
    <h2>Публикация отзыва</h2>
    <!--Добро пожаловать, HttpContext.Current.User.Identity.Name -->
    @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
    {
        if (ViewBag.Message != null)
        {
            <div class="alert alert-success">
                <strong>Success!</strong>@ViewBag.Message
            </div>
        }
    }
    else
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.GameId, "Выбор игры", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="">
                        @Html.DropDownListFor(model => model.GameId, new SelectList(ViewBag.Games, "GameId", "GameName"), htmlAttributes: new { @class = "form-select dropdown-menu-dark btn btn-secondary" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ReviewScore, "Оценка", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="">
                        @Html.DropDownListFor(model => model.ReviewScore, new SelectList(ViewBag.Scores), htmlAttributes: new { @class = "form-select dropdown-menu-dark btn btn-secondary" })
                        @Html.ValidationMessageFor(model => model.ReviewScore, "", new { @class = "danger_color" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ReviewText, "Ваш отзыв", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="">
                        @Html.TextAreaFor(model => model.ReviewText, htmlAttributes: new { @class = "form-control textarea_true" })
                        @Html.ValidationMessageFor(model => model.ReviewText, "", new { @class = "danger_color" })
                    </div>
                </div>
                <div class="form-group" style="padding-top:30px;">
                    <div class="">
                        <input type="submit" value="Опубликовать" class="btn btn-outline-warning"  />
                    </div>
                </div>
            </div>
            if (ViewBag.Message != null)
            {
                <div class="alert alert-danger">
                    <strong>Error!</strong>@ViewBag.Message
                </div>
            }
        }
    }

    <div>
        @Html.ActionLink("Вернуться на главную страницу", "Index", "Home")

    </div>
</div>

@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}


<style type="text/css">
    option:hover {
        background-color: darkgrey;
    }
    .danger_color {
        color: #f91b1b;
    }

    .textarea_true {
        background-color: #565e64;
        border: 0px;
        color: white;
        height:400px;
        margin-left:auto;
        margin-right:auto;
    }
        .textarea_true:focus {
            background-color: #565e64;
            border: 0px;
            color: white;
            
        }
</style>